body{
	background-color: #A89;
	color: #C4BBC3;
	text-align: center;
	font-size: 72pt;
	font-weight: bold;
	font-family: "Lucida Sans Unicode";
}

img:hover{
	height: 7em;
}

img{
	display: block;
	height: 2em;
	margin: auto;
	border: 3px solid #C4BBC3;
}