body{
	background-color: #A89;
	text-align: center;
	font-size: 72pt;
	font-weight: bold;
	font-family: Verdana;
}

img:hover{
	height: 50em;
}

img{
	display: block;
	height: 10em;
	image-align: center;
}