body{
	background-color: #A89;
	color: #A99;
	text-align: center;
	font-size: 72pt;
	font-weight: bold;
	font-family: Lucida Sans Unicode;
}

img:hover{
	height: 7em;
}

img{
	display: block;
	height: 2em;
	margin: auto;
}